@model MVC_JsonResult.Models.Entities.Town

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Town</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.District.City.CountryId, "CountryId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CountryId", null, "Lütfen Seçiniz", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.District.City.CountryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.District.CityId, "CityId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CityId", null, "Lütfen Seçiniz", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.District.CityId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DistrictId, "DistrictId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DistrictId", null, "Lütfen Seçiniz", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DistrictId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TownName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TownName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TownName, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    $(document).ready(function () {
        $("#CountryId").change(function () {
            $("#CityId").html("");
            $("#CityId").val("");
            $("#DistrictId").html("");
            $("#DistrictId").val("");
            var id = $(this).val();
            $.getJSON("@Url.Action("GetCities","Cities")", { id: id }, function (data) {
                $("#CityId").append("<option value='0'>Lütfen Seçiniz</option>");
                $.each(data, function (key, value) {
                    $("#CityId").append("<option value='" + value.CityId + "'>" + value.CityName + "</option>");
                });
            });
        });
        $("#CityId").change(function () {
            $("#DistrictId").html("");
            $("#DistrictId").val("");

            var id = $(this).val();

            $.getJSON("@Url.Action("GetDistrict","Districts")", { id: id }, function (data) {
                $("#DistrictId").append("<option value='0'>Lütfen Seçiniz</option>");
                $.each(data, function (key, value) {
                    $("#DistrictId").append("<option value='" + value.DistrictId + "'>" + value.DistrictName + "</option>");
                });
            });
        });
    });
</script>